.row.projects
  .col-xs-12
    h1 Personal Capstones

.row.projects
  .col-xs-12.col-sm-6.col-md-6
    figure
      a(href='http://cah.adambarnhard.com', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/meanagainsthumanity.png)')
      figcaption
        p.name: a(href='http://cah.adambarnhard.com', target='_blank') MEAN Against Humanity
        p.description A multiplayer online version of Cards Against Humanity built with Socket.io & the MEAN stack
        p: a(href='https://github.com/ABarnhard/mean-ah', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard
  .col-xs-12.col-sm-6.col-md-6
    figure
      a(href='http://hiitit.adambarnhard.com/', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/hiitit.png)')
      figcaption
        p.name: a(href='http://hiitit.adambarnhard.com/', target='_blank') HIIT It
        p.description Take the work out of your HIIT workout with this combo desktop & mobile app.
        p
          a(href='https://github.com/ABarnhard/trainer', target='_blank') GitHub Repo Desktop
          | &nbsp;|&nbsp;
          a(href='https://github.com/ABarnhard/trainer-mobile-ab', target='_blank') GitHub Repo Mobile
        p.team Team: Adam Barnhard

.row.projects
  .col-xs-12
    h1 Class Projects

.row.projects        
  .col-xs-12.col-sm-6.col-md-4
    figure
      a(href='http://nashvestor.adambarnhard.com', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/nashvestor.png)')
      figcaption
        p.name: a(href='http://nashvestor.adambarnhard.com', target='_blank') Nashville Investor
        p.description How much is that house worth? Leverage Nashville's Open Government API to find out.
        p: a(href='https://github.com/ABarnhard/nashville-investor', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard, Melanie Fryman, David Boling, Logan Richardson, Dennis Stanley
        
  .col-xs-12.col-sm-6.col-md-4
    figure
      a(href='http://adambarnhard.com/flappy-block/', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/flappyblock.png)')
      figcaption
        p.name: a(href='http://adambarnhard.com/flappy-block/', target='_blank') Flappy Block
        p.description A Flappy Bird clone built using Phaser.io
        p: a(href='https://github.com/ABarnhard/flappy-block', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard
        
  .col-md-4.hidden-xs.hidden-sm
    figure
      a(href='http://adambarnhard.com/pirates-booty/', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/piratesbooty.png)')
      figcaption
        p.name: a(href='http://adambarnhard.com/pirates-booty/', target='_blank') Pirates Booty
        p.description A side scrolling adventure game built using Phaser.io
        p: a(href='https://github.com/ABarnhard/pirates-booty', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard, Zoe Ames, Sarah Pearson

.row.projects.hidden-md.hidden-lg
  .col-xs-12.col-sm-6
    figure
      a(href='http://adambarnhard.com/pirates-booty/', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/piratesbooty.png)')
      figcaption
        p.name: a(href='http://adambarnhard.com/pirates-booty/', target='_blank') Pirates Booty
        p.description A side scrolling adventure game built using Phaser.io
        p: a(href='https://github.com/ABarnhard/pirates-booty', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard, Zoe Ames, Sarah Pearson

  .col-xs-12.col-sm-6
    figure
      a(href='http://adambarnhard.com/roundup', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/roundup.png)')
      figcaption
        p.name: a(href='http://adambarnhard.com/roundup', target='_blank') Round Up
        p.description Get all the stars before time runs out! HTML5 Canvas game built with Phaser.io
        p: a(href='https://github.com/ABarnhard/roundup', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard, Michael Barreiro, Sarah Pearson

.row.projects
  .col-md-4.hidden-xs.hidden-sm
    figure
      a(href='http://adambarnhard.com/roundup', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/roundup.png)')
      figcaption
        p.name: a(href='http://adambarnhard.com/roundup', target='_blank') Round Up
        p.description Get all the stars before time runs out! HTML5 Canvas game built with Phaser.io
        p: a(href='https://github.com/ABarnhard/roundup', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard, Michael Barreiro, Sarah Pearson
        
  .col-xs-12.col-sm-6.col-md-4
    figure
      a(href='http://wineseller.adambarnhard.com/', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/wineseller.png)')
      figcaption
        p.name: a(href='http://wineseller.adambarnhard.com/', target='_blank') Wine Seller
        p.description E-trading site for wine collectors. Built using MEAN Stack and the Google Maps API.
        p: a(href='https://github.com/ABarnhard/wine-seller', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard, Liza Carter, Daniel Roden, Mark Supalla
        
  .col-xs-12.col-sm-6.col-md-4
    figure
      a(href='http://celebridate.adambarnhard.com/', target='_blank')
        div(style='background-image:url(public/assets/img/screenshots/celebridate.png)')
      figcaption
        p.name: a(href='http://celebridate.adambarnhard.com/', target='_blank') Celebridate
        p.description A dating website for celebrities built with Express & MongoDB
        p: a(href='https://github.com/ABarnhard/celebridate', target='_blank') GitHub Repo
        p.team Team: Adam Barnhard, Sarah Pearson, Melanie Fryman, Mark Supalla

        
