
<div class="row">
  <div class="profile-img-wrapper col-xs-12 col-sm-5">
    <div class="profile-img">
      <div class="profile-pic-wrapper">
        <div class="profile-pic"></div>
      </div>
    </div>
    <div class="social-wrapper hidden-xs">
      <ul>
        <li><a href="https://twitter.com/adambarnhard" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/ABarnhard" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/adambarnhard" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="about col-xs-12 col-sm-7">
    <h1>Adam Barnhard</h1>
    <h3>
       
      Some systems move problems.<br>I build systems that solve them. 
    </h3>
    <div class="bio">
      <p>My first introduction to programming was building Excel macros to automate our team's workflow. It was then that I knew two things:</p>
      <ol>
        <li>I had found my passion.</li>
        <li>I needed better tools.</li>
      </ol>
      <p>That was the catalyst for attending Nashville Software School in July 2014. Since then I have learned to build full stack web applications using technologies including JavaScript, Node, Angular, MongoDB, and Python.</p>
    </div>
    <div class="buttons"><a href="/#/projects" role="button" class="btn btn-default btn-lg"> My Work</a><a href="mailto:admbarn@gmail.com" role="button" class="btn btn-default btn-lg"> Get In Touch</a></div>
  </div>
</div>