
<div class="row projects">
  <div class="col-xs-12">
    <h1>Personal Capstones</h1>
  </div>
</div>
<div class="row projects">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <figure><a href="http://cah.adambarnhard.com" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/meanagainsthumanity.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://cah.adambarnhard.com" target="_blank">MEAN Against Humanity</a></p>
        <p class="description">A multiplayer online version of Cards Against Humanity built with Socket.io & the MEAN stack</p>
        <p><a href="https://github.com/ABarnhard/mean-ah" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <figure><a href="http://hiitit.adambarnhard.com/" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/hiitit.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://hiitit.adambarnhard.com/" target="_blank">HIIT It</a></p>
        <p class="description">Take the work out of your HIIT workout with this combo desktop & mobile app.</p>
        <p><a href="https://github.com/ABarnhard/trainer" target="_blank">GitHub Repo Desktop</a>&nbsp;|&nbsp;<a href="https://github.com/ABarnhard/trainer-mobile-ab" target="_blank">GitHub Repo Mobile</a></p>
        <p class="team">Team: Adam Barnhard</p>
      </figcaption>
    </figure>
  </div>
</div>
<div class="row projects">
  <div class="col-xs-12">
    <h1>Class Projects</h1>
  </div>
</div>
<div class="row projects">       
  <div class="col-xs-12 col-sm-6 col-md-4">
    <figure><a href="http://nashvestor.adambarnhard.com" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/nashvestor.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://nashvestor.adambarnhard.com" target="_blank">Nashville Investor</a></p>
        <p class="description">How much is that house worth? Leverage Nashville's Open Government API to find out.</p>
        <p><a href="https://github.com/ABarnhard/nashville-investor" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard, Melanie Fryman, David Boling, Logan Richardson, Dennis Stanley</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <figure><a href="http://adambarnhard.com/flappy-block/" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/flappyblock.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://adambarnhard.com/flappy-block/" target="_blank">Flappy Block</a></p>
        <p class="description">A Flappy Bird clone built using Phaser.io</p>
        <p><a href="https://github.com/ABarnhard/flappy-block" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-4 hidden-xs hidden-sm">
    <figure><a href="http://adambarnhard.com/pirates-booty/" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/piratesbooty.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://adambarnhard.com/pirates-booty/" target="_blank">Pirates Booty</a></p>
        <p class="description">A side scrolling adventure game built using Phaser.io</p>
        <p><a href="https://github.com/ABarnhard/pirates-booty" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard, Zoe Ames, Sarah Pearson</p>
      </figcaption>
    </figure>
  </div>
</div>
<div class="row projects hidden-md hidden-lg">
  <div class="col-xs-12 col-sm-6">
    <figure><a href="http://adambarnhard.com/pirates-booty/" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/piratesbooty.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://adambarnhard.com/pirates-booty/" target="_blank">Pirates Booty</a></p>
        <p class="description">A side scrolling adventure game built using Phaser.io</p>
        <p><a href="https://github.com/ABarnhard/pirates-booty" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard, Zoe Ames, Sarah Pearson</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-12 col-sm-6">
    <figure><a href="http://adambarnhard.com/roundup" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/roundup.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://adambarnhard.com/roundup" target="_blank">Round Up</a></p>
        <p class="description">Get all the stars before time runs out! HTML5 Canvas game built with Phaser.io</p>
        <p><a href="https://github.com/ABarnhard/roundup" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard, Michael Barreiro, Sarah Pearson</p>
      </figcaption>
    </figure>
  </div>
</div>
<div class="row projects">
  <div class="col-md-4 hidden-xs hidden-sm">
    <figure><a href="http://adambarnhard.com/roundup" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/roundup.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://adambarnhard.com/roundup" target="_blank">Round Up</a></p>
        <p class="description">Get all the stars before time runs out! HTML5 Canvas game built with Phaser.io</p>
        <p><a href="https://github.com/ABarnhard/roundup" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard, Michael Barreiro, Sarah Pearson</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <figure><a href="http://wineseller.adambarnhard.com/" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/wineseller.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://wineseller.adambarnhard.com/" target="_blank">Wine Seller</a></p>
        <p class="description">E-trading site for wine collectors. Built using MEAN Stack and the Google Maps API.</p>
        <p><a href="https://github.com/ABarnhard/wine-seller" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard, Liza Carter, Daniel Roden, Mark Supalla</p>
      </figcaption>
    </figure>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <figure><a href="http://celebridate.adambarnhard.com/" target="_blank">
        <div style="background-image:url(public/assets/img/screenshots/celebridate.png)"></div></a>
      <figcaption>
        <p class="name"><a href="http://celebridate.adambarnhard.com/" target="_blank">Celebridate</a></p>
        <p class="description">A dating website for celebrities built with Express & MongoDB</p>
        <p><a href="https://github.com/ABarnhard/celebridate" target="_blank">GitHub Repo</a></p>
        <p class="team">Team: Adam Barnhard, Sarah Pearson, Melanie Fryman, Mark Supalla</p>
      </figcaption>
    </figure>
  </div>
</div>